/* Variabes */
/* Mixins */
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Paralucent, sans-serif;
  background-color: #fff6da;
}

html,
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  margin: 0 10% 0 0;
}

.main-wrapper {
  margin: 30px auto 0;
  text-align: center;
}

.main-title {
  font-family: 'Paralucent';
  text-align: center;
  font-size: 2.6em;
  font-weight: 500;
  color: black;
  margin-bottom: 2em;
}

.main-title > h2 {
  position: relative;
  top: -30px;
  font-size: 0.6em;
  font-weight: 500;
}

.drum-kit-wrapper {
  position: relative;
  width: 600px;
  margin: -100px auto 0;
}

.drum-kit {
  width: 100%;
  height: auto;
  position: relative;
  top: 100px;
}

.crash-cymbal {
  position: absolute;
  top: 90px;
  left: 0px;
  -webkit-transform: rotate(0) scale(0.85);
          transform: rotate(0) scale(0.85);
  -webkit-transition: all ease-in-out .042s;
  transition: all ease-in-out .042s;
  z-index: 1;
}

.hihat-top-cymbal {
  position: absolute;
  top: 50px;
  right: -15px;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  z-index: 1;
  -webkit-transition: all ease-in-out .042s;
  transition: all ease-in-out .042s;
}

.key {
  display: inline-block;
  -webkit-transition: all ease-in-out .042s;
  transition: all ease-in-out .042s;
  position: absolute;
  background: #84f2d6;
  padding: 0.4em 0.6em;
  font-family: paralucent;
  font-size: 1.6em;
  font-weight: 700;
  text-align: center;
  border-radius: 6px;
  border: 2px solid black;
  color: black;
  z-index: 2;
}

.key.kick {
  top: 320px;
  right: 250px;
}

.key.kick2 {
  top: 320px;
  right: 312px;
}

.key.snare {
  right: 145px;
  top: 200px;
}

.key.tom-high {
  right: 250px;
  top: 200px;
}

.key.tom-mid {
  left: 222px;
  top: 220px;
}

.key.tom-low {
  top: 220px;
  left: 100px;
}

.key.crash {
  top: 60px;
  left: 40px;
}

.key.ride {
  left: 140px;
  top: 120px;
}

.key.hihat-open {
  right: 110px;
  top: 80px;
}

.key.hihat-close {
  right: 10px;
  top: 130px;
}

.playing {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.key-map-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  background: #fc6b3f;
  width: 250px;
  z-index: 3;
}

.key-map-wrapper > h2 {
  color: black;
  font-family: 'Paralucent';
  border-bottom: 2px solid black;
  padding-bottom: 0.8em;
}

.key-map-list {
  list-style: none;
  color: black;
  text-align: left;
  padding: 2em;
}

.key-map-list > li {
  margin-bottom: 2em;
}

.key-map-list > ul {
  padding: 50px;
}

.key-code {
  color: black;
  background-color: #84f2d6;
  font-size: 1.25em;
  padding: 0.8em 1em;
  border-radius: 6px;
  border: 2px solid black;
  font-family: paralucent;
  font-size: 1em;
  font-weight: 700;
}

.key-sound {
  font-size: 1.2em;
  margin-left: 10px;
  font-family: 'paralucent';
  vertical-align: middle;
}
/*# sourceMappingURL=styles.css.map */